.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.progress {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}
  
.html-css {width: 75%; background-color: #4CAF50;} /* Green */
.bootstrap {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 60%; background-color: #f44336;} /* Red */
.react {width: 50%; background-color: #808080;} /* Dark Grey */
.python {width: 75%; background-color: #808080;} /* Dark Grey */
.mysql {width: 80%; background-color: #808080;} /* Dark Grey */