.contact-card{
    width: 200px;
    height: 150px;
    background-color: teal;
    margin: 20px;
    cursor:pointer;
    display: flex;
    align-items:  center;
    justify-content: center;
}

.contact-card span {
    color: white;
    font-weight: 500;
    transition: .3s linear;
    opacity: 0;
    font-size: 4px;
    top:50px

}

.contact-card:hover span {
    opacity:1;
    transform: scale(4);
}

.contact-card i {
    font-size: 32px;
    color: tomato;
    transition: .3s linear;
}

.contact-card:hover i {
    transform: scale(4);
    opacity: 0;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: .5px;
}
