.intro{
    padding-top: 270px;
    padding-bottom: 100px;
    /* background-color: rgba(255, 255, 255,0.4); */
}


.intro .section-title {
    margin-bottom: 0.25em;
  }

strong{
    color: #b71c1c;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            'img title'
            'img subtitle';
        grid-template-columns: min-content max-content ;
    }
}

.intro-img{
    grid-area: img;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    height: 545px;
    position: relative;
    /* shape-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25); */
    transition: .4s;
}

.intro-img:hover{
    text-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.4);
}

.intro > .section-sub {
    color: #fff;
    align-self: start;
    letter-spacing: 0.5px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    font-size: 36px;
    font-weight:40px;
    position: relative;
    left: 2.5em;
    width: calc(75% + 1.5em)
}

.landing-img{
    display: block;
    min-width: 350px;
    width: 100%;
    height: 600px;
    margin: auto;
    object-fit: fill;
}

.header{
    margin-bottom: 0.25em;
}

.sub-header {
    margin-top: 0.75em;
    font-size: 36px;
    font-weight:40px;
}

hr{
    border-color: white;
}

