.navbar-toggler{
    border-radius: 50%;
    color: #b71c1c;

}

.nav-item > *:hover{
    color: #b71c1c;
}

.nav-item > a:focus{
    color: #b71c1c;
}

.navbar-brand > a {
    text-decoration: none;
    color: #b71c1c;
}

.nav-item > * {
    color:white;
}

.navbar {
    background-color: #212121;
}

#aboutme a:focus { color: #b71c1c; }
#portfolio a:focus { color: #b71c1c; }
#testimonials a:focus { color: #b71c1c; }
#contactme a:focus { color: #b71c1c; }