.navbar-toggler{
    color: #b71c1c;
}

.nav-item > *:hover{
    color: #b71c1c;
}

.nav-link .active a{
    color: #b71c1c;
}



.nav-item a {
    color:white;
}

.navbar {
    /* background-color: #212121; */
    background-color: white;
    height: auto;
}


.navbar img {
    max-height: 120px;
    width: 140px;
}