.mywork > .section-sub {
    margin-bottom: 2em;
}


.project {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding:10px;
}
  
.title {
    color: black;
    font-size: 18px; 
}

.project-img {
    transition: all .5s ease-in-out;
    height: 250px;
    opacity: 250ms linear;
}

.project-img:hover {
    transform: scale(1.2);
    opacity: .75;   
}

.overflow{
    overflow: hidden;
    width: 100%;
   
}
  
button {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin-right: 10px;
    border: none;
    opacity: .75;
}
  
button:hover {
    opacity: 0.7;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1rem;
}
  