.mywork > .section-sub {
  margin-bottom: 80px;
}



.title {
  color: white;
  font-size: 18px;
}

.project-img {
  transition: all 0.5s ease-in-out;
  height: 250px;
  max-width: 300px;
  width: auto;
  opacity: 250ms linear;
}

.project-img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}

.overflow {
  overflow: hidden;
  width: 100%;
}

.button {
  text-decoration: none;
  border-radius: 5.5px;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 8px;
  margin-right: 10px;
  border: none;
  opacity: 0.4;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: #b71c1c;
  color: #212121;
}

/* Container needed to position the overlay. Adjust the width as needed */
.image-container {
  position: relative;
  width: 450px;
  min-width: 200px;
  height: 300px;
  margin-bottom: 60px;
}

.image-container img { 
  /* vertical-align: middle; */
  width: 100%;
  min-height: 300px;
  flex-grow: initial;
  opacity: 0.8;
  object-fit: fill;
  border-radius: 8px;
}



/* When you mouse over the container, fade in the overlay title */
.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 30px;
}

.overlay-top {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

/* When you mouse over the container, fade in the overlay title */
.image-container:hover .overlay-top {
  opacity: 1;
  z-index: 6;
}

.image-container:hover img {
  opacity: 1;
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}


/* ads section */
.gallery {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  min-width: 300px;
  height: 600px;
  overflow-x: hidden;
  overflow-x: hidden;
  position: static;
  padding:20px;
}

.card-link i{
  font-size: 35px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.alert .btn-close{
  position: absolute;
  top: -12px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  z-index: 500;
}


#close:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.modal-body img{
  border: solid white 3px;
  border-radius:12px;
  margin: auto;
}

.row-cols-md-1{
  margin: auto;
}