.main-box{
    border: crimson solid 1px;
}

.services-main-box{
    border: cyan solid 1px;
}

.service-column{
    border: white solid 1px;
    padding:0px;
}

.service-block{
    background: black
}