/* Style the testimonial with a rounded border, grey background and some padding and margin */
.testimonial {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.testimonial:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
  
/* Clear floats after testimonials */
.testimonial::after {
    content: "";
    clear: both;
    display: table;
}
  
/* Float images inside the testimonial to the left. Add a right margin, and style the image as a circle */
.testimonial img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
  
/* Increase the font-size of a span element */
.testimonial span {
    font-size: 20px;
    color: tomato;
    margin-right: 15px;
}
  
/* Add media queries for responsiveness. This will center both the text and the image inside the testimonial */
@media (max-width: 500px) {
    .testimonial {
        text-align: center;
    }
  
    .testimonial img {
        margin: auto;
        float: none;
        display: block;
    }
}

