@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.6;
  overflow-wrap: break-word;
  width: 100%;
}

.hero{
  padding-left: 20px;
}

/* landing page section */
/* backgrounds */
.navbar{
  background-color:rgba(222, 242, 241,0.6); 
  text-align: center;
}

.landing-bg{
  /* background-color: rgba(255, 255, 255,0.6); */
  /* background-color:#baeeeb;  */
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./components/assets/landing-bg.jpg"), linear-gradient(rgba(186, 238, 235,0.85),rgba(186, 238, 235,0.85));
  background-blend-mode: overlay;
  
}
.about-bg{
  background-color:#DEF2F1;  
  /* color: #297B77; */
  color: #1f5c59;
}
.portfolio-bg{
  background-color:rgba(222, 242, 241,0.28);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./components/assets/profile-bg2.jpg"), linear-gradient(rgba(222, 242, 241,1),rgba(222, 242, 241,1));
  background-blend-mode: overlay;
}

.testimonial-bg{
  /* background-color:rgb(43, 57, 73); */
  background-color:#DEF2F1;
  
}

.contact-bg{
  /* background-color:#FEFFFF;  */
  /* background-image: url(./components/assets/contact-bg.jpg), rgba(254, 255, 255,0.4); */
  background-attachment: fixed;
  background-image: url("./components/assets/contact-bg.jpg"), linear-gradient(rgba(254, 255, 255,0.85),rgba(254, 255, 255,0.85));
  background-blend-mode: overlay;
}


.testimonial-bg .section-sub{
/* color: #b71c1c; */
color: #2B7A77;
}

.portfolio-bg .section-sub{
  /* color: #b71c1c; */
  color: #2B7A77;
  }

.contact-bg .section-sub{
  color:#3AAFA9
}

.contact-bg .section-title{
  background-color:#3AAFA9;
}

/* background end */

.section-title{
  /* background:rgba(183, 28, 28,0.8); */
  background:#2B7A77;
  color: white;
  width: fit-content;
  padding: 5px;
}

#landing-page {
  padding-top: 310px;
  padding-right: 0px;
  /* padding-bottom: 65px; */
}



#aboutme,
#portfolio,
#contactme{
  padding-bottom: 4em;
  padding-top: 6em;
}


#contactme,
#testimonials
{
  margin: auto;
}

#testimonial-section{
  margin: auto;
}

/* landing page section */
#testimonials {
  padding-top: 6em;
  padding-bottom: 4em;
  height: 800px;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  #testimonials {
    height: 1150px;
  }
}


/* profile sections END */


.section-mainTitle {
  line-height: 1.2em;
  margin-bottom: 1.25em;
}


h4 {
  position: relative;
  line-height: 1.2em;
  margin-bottom: 1.25em;
}

h4:before {
  position: absolute;
  text-align: center;
  height: 35px;
  width: 20px;
  content: "";
  border-bottom: 2px solid #17242A;
}


/* Subtitles */
.section-sub{
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
}

html {
  scroll-behavior: smooth;
}

/* For scroll bar */

/* width
::-webkit-scrollbar {
  width: 15px;
} */