@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.6;
}

.hero{
  padding-left: 20px;
}

/* profile sections */
/* section {
  width:max-content
} */


/* landing page section */
/* backgrounds */
.nav-container{
  background-color:rgba(23, 36, 42,0.6); 
  text-align: center;
}

.landing-bg{
  /* background-color: rgba(255, 255, 255,0.6); */
  background-color:#3AAFA9; 
  
}
.about-bg{
  background-color:#DEF2F1;  
  color: #297B77;
}
.portfolio-bg{
  background-color:#3AAFA9;  
  /* background-color:#212121;  */
}

.testimonial-bg{
  /* background-color:rgb(43, 57, 73); */
  background-color:#DEF2F1;
  
}

.contact-bg{
  background-color:#FEFFFF; 
  
}


.testimonial-bg .section-sub{
/* color: #b71c1c; */
color: #2B7A77;
}

.contact-bg .section-sub{
  color:#3AAFA9
}

.contact-bg .section-title{
  background-color:#3AAFA9;
}

/* background end */

.section-title{
  /* background:rgba(183, 28, 28,0.8); */
  background:#2B7A77;
  color: white;
  width: fit-content;
  padding: 5px;
}

.landing-page {
  padding-top: 210px;
  /* padding-bottom: 65px; */
}



#aboutme,
#portfolio,
#contactme{
  padding-bottom: 4em;
  padding-top: 6em;
}

.landing-page,
#aboutme,
#portfolio,
#contactme{
  margin: auto;
}



/* landing page section */
#testimonials {
  padding-top: 6em;
  padding-bottom: 4em;
  height: 800px;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  #testimonials {
    height: 980px;
  }
}


/* profile sections END */


.section-mainTitle {
  line-height: 1.2em;
  margin-bottom: 1.25em;
}



/* .section-title {
  position: relative;
  line-height: 1.2em;
  margin-bottom: 1.25em;
}

.section-title:before {
  position: absolute;
  text-align: center;
  height: 50px;
  width: 60px;
  content: "";
  border-bottom: 2px solid#b71c1c;
} */

h4 {
  position: relative;
  line-height: 1.2em;
  margin-bottom: 1.25em;
}

h4:before {
  position: absolute;
  text-align: center;
  height: 35px;
  width: 20px;
  content: "";
  border-bottom: 2px solid #17242A;
}



.section-sub{
  font-size: 24px;
  /* color: #b71c1c; */
  font-weight: bold;
  padding: 10px 20px;
}

html {
  scroll-behavior: smooth;
}

/* For scroll bar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}